<div class="container">
  <div class="board">
    <% @game.board.rows_as_square_numbers_and_statuses.each do |row| %>
      <div class="row">
        <% row.each do |(number, status)| %>
          <div class="square" id="square_<%= number %>">
            <%= link_to (status == :empty ? number : status.upcase), @game_options.merge({ move: number }) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
